@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/utilities';


$utilities: map-merge(
    (
        "width": map-merge(
            map-get($utilities, "width"),
            (
                values: map-merge(
                    map-get(map-get($utilities, "width"), "values"),
                    (
                        0: 0,
                        f: fit-content
                    ),
                ),
            ),
        ),
        "a": (
            "property": a,
            "values": map-merge(
                map-get(map-get($utilities, 'a'), 'values'),
                (
                    0: 0
                )
            )
        )
    ),
    $utilities
);

$utilities: (
    "a": (
        "property": a,
        "values": (
            2: 2
        )
    ),
);

@warn map-get($utilities, 'width')