// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "./variables.scss";

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like

// 5. Add additional custom code here
// @import "./utilities.scss";

// Configuring Fonts



@font-face {
    font-family: 'A EntezareZohoor B4';
    src: url('../../public/font/EntezarZohoor/AEntezareZohoorB4-Bold.eot');
    src: url('../../public/font/EntezarZohoor/AEntezareZohoorB4-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../public/font/EntezarZohoor/AEntezareZohoorB4-Bold.woff2') format('woff2'),
        url('../../public/font/EntezarZohoor/AEntezareZohoorB4-Bold.woff') format('woff'),
        url('../../public/font/EntezarZohoor/AEntezareZohoorB4-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'A Iranian Sans';
    src: url('../../public/font/IranianSans/AIranianSans.eot');
    src: url('../../public/font/IranianSans/AIranianSans.eot?#iefix') format('embedded-opentype'),
        url('../../public/font/IranianSans/AIranianSans.woff2') format('woff2'),
        url('../../public/font/IranianSans/AIranianSans.woff') format('woff'),
        url('../../public/font/IranianSans/AIranianSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




// Generic rules

:root {
    --bs-body-font-family: 'A Iranian Sans';
    --bs-header-font-family: 'A EntezareZohoor B4';
    --bs-body-font-weight: 400;
}

body {  
    font-family: var(--bs-body-font-family);  
}  

a {
    text-decoration: none;
}

// Bootstrapic Classes

// color
.bg-primary-1 { background-color: map-get($theme-colors, 'primary-1') !important }
.bg-primary-2 { background-color: map-get($theme-colors, 'primary-2') !important }
.bg-primary-3 { background-color: map-get($theme-colors, 'primary-3') !important }

.bg-gray-1 { background-color: $gray-400 !important }
.bg-gray-2 { background-color: $gray-600 !important }
.bg-gray-3 { background-color: $gray-800 !important }
.bg-gray-2t { background-color: rgba($gray-600, .5) !important }
.bg-yellow-1 { background-color: $yellow-200 !important }
.bg-yellow-2 { background-color: $yellow-400 !important }
.bg-red-2 { background-color: $red-600 !important }
.bg-red-1c { background-color: #de314e !important }
.bg-purple-1 { background-color: $purple-400 !important }

.gray-2 { color: $gray-600 !important }
.gray-3 { color: $gray-800 !important }

.border-gray-1 { border-color: $gray-200 !important }
.border-gray-3 { border-color: $gray-600 !important }
.border-gray-5 { border-color: $gray-900 !important }


// position
.bottom-100m { bottom: -100% !important }
.top-edge { top: $spacer * -0.5 !important }

// size
.w-0 { width: 0 !important }
.w-6 { width: $spacer * 6 !important }
.w-fit-content { width: fit-content !important }

.h-0 { height: 0 !important }
.h-3 { height: $spacer * 3 !important }

.px-6 { padding-right: $spacer * 4; padding-left: $spacer * 4 !important }

// other
.rounded-circle-full { border-radius: 100% !important }
.rounded-2 { border-radius: $spacer !important }


// Common classes


// Specific rules


// pseudo-elements rules