// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "./variables.scss";

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like

// 5. Add additional custom code here
// @import "./utilities.scss";

// Configuring Fonts

@font-face {
    font-family: "Calibry New";
    font-weight: regular;
    src:
        url("../../public/font/calibry/calibri-regular.ttf") format("trutype");
}


// Generic rules

:root {
    --bs-body-font-family: 'Calibry New';
    --bs-body-font-family: 'Arial';
}

body {  
    font-family: var(--bs-body-font-family);  
}  


// Bootstrapic Classes

.top-0-edge { top: map-get($position-values, top-0-edge) }

.bg-purple { background-color: $purple-500 }

.bg-gray { background-color: $gray-300 }

.bg-yellow-light { background-color: $yellow-400 }

.w-f { width: fit-content }
.w-0 { width: 0 }

.h-0 { height: 0 }

.rounded-circle-full { border-radius: 100% !important }


// Common classes


// Specific rules


// pseudo-elements rules

