// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "./variables.scss";

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like

// 5. Add additional custom code here
// @import "./utilities.scss";

// Configuring Fonts

@font-face {
    font-family: "Calibry New";
    font-weight: regular;
    src:
        url("../../public/font/calibry/calibri-regular.ttf") format("trutype");
}


// Generic rules

:root {
    --bs-body-font-family: 'Calibry New';
    --bs-body-font-family: 'Arial';
}

body {  
    font-family: var(--bs-body-font-family);  
}  


// Bootstrapic Classes


.bg-purple-1 { background-color: $purple-400 !important }
.bg-gray-1 { background-color: $gray-400 !important }
.bg-gray-2 { background-color: $gray-600 !important }
.bg-gray-3 { background-color: $gray-800 !important }
.bg-gray-o1 { background-color: rgba($gray-600, .5) !important }
.bg-yellow-1 { background-color: $yellow-200 !important }
.bg-yellow-2 { background-color: $yellow-400 !important }
.bg-red-2 { background-color: $red-600 !important }

.border-gray-3 { border-color: $gray-600 !important }
.border-gray-5 { border-color: $gray-900 !important }

.w-f { width: fit-content !important }
.w-0 { width: 0 !important }
.w-6 { width: $spacer * 6 !important }
.w-fit-content { width: fit-content !important }

.h-0 { height: 0 !important }
.h-3 { height: $spacer * 3 !important }

.top-e0 { top: -0.5rem !important }
.bottom-m100 { bottom: -100% !important }

.px-6 { padding-right: $spacer * 4; padding-left: $spacer * 4 !important }

.rounded-circle-full { border-radius: 100% !important }



// Common classes


// Specific rules


// pseudo-elements rules

