@import "tailwindcss";
@import "./font.css";


body {  
    font-family: var(--bs-body-font-family);  
    text-align: right;
}  

a {
    text-decoration: none;
}


/* variables */

:root {
    --bs-body-font-family: IRANSansX;
    --bs-header-font-family: 'A EntezareZohoor B4';
    --bs-body-font-weight: 400;
    /* colors */
    --color-primary-300: #3c6296;
    --color-primary-400: #6e9cdb;
    --color-primary-500: #3c6296;
    --color-secondary-400: #e9edec;
    --color-secondary-500: #d9d9d9;
    --color-third-500: #de314e;
    --color-fourth-400: var(--color-blue-500);
    --color-fourth-500: var(--color-blue-600);
    --color-fourth-600: var(--color-blue-700);
}

@theme {
    --breakpoint-xs: 520px;
    --text-md: 0.925rem;
    /* colors */
    --color-primary-400: #6e9cdb;
    --color-primary-500: #3c6296;
    --color-primary-600: #34495e;
    --color-secondary-400: #e9edec;
    --color-secondary-500: #d9d9d9;
    --color-third-500: #de314e;
    --color-fourth-400: var(--color-blue-500);
    --color-fourth-500: var(--color-blue-600);
    --color-fourth-600: var(--color-blue-700);
}

@media (width >= 320px) {
    /* full screen wide */
    :root {
        --main-section-width: calc(100% - 1rem);
        --main-section-large-width: calc(100% - 1rem);       
        --main-section-full-width: calc(100% - 1rem);
    }

    html {
        font-size: 10px;
    }
}


@media (width >= 768px) {
    /* full screen wide */
    html {
        font-size: 12px;
    }
}

@media (width >= 1024px) {
    
    :root {
        --main-section-width: 64rem;
        --main-section-large-width: 80rem;       
        --main-section-full-width: calc(100% - 2rem);
    }
}

@media (width >= 1280px) {
    html {
        font-size: 14px;
    }
}


@media (width >= 1396px) {
    :root {
        --main-section-full-width: 96rem;
    }
}
