@import "bootstrap/scss/functions";
@import "../../../styles/_variables.scss";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.st0 {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
