@import "bootstrap/scss/functions";
@import "../../../styles/_variables.scss";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";



.main-slider {  
    height: 25rem;
    width: 60rem;
}  

.main-slider__indecators-wrapper {
    left: 1rem;
    top: 1rem;
    right: unset;
    bottom: unset;
    margin: 0;
}

.main-slider__control {
    height: 3rem;
    width: 3rem;
}

.main-slider__control--next {
    right: 1rem;
}

.main-slider__control--prev {
    left: 1rem;
}

.slide-main__image-wrapper {
    height: 80%
}

.slide-main__image {
    object-fit: contain;
}

.slide-main__caption {
    height: 20%;
    left: 0;
    right: 0;
    bottom: 0;  
}
