@import "bootstrap/scss/functions";
@import "../../../styles/_variables.scss";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";



.main-slider {  
    position: relative;  
    width: 60%;  
    margin: 20px auto 0;  
    overflow: hidden;  
    border-radius: 10px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
}  

.main-slider__slide {  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    height: 300px;  
    color: white;  
    transition: all 0.5s;  
}  

.main-slider__button-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: #9e9e9e;
    padding: 8px 0;
  }

.slide__button {  
    background-color: rgba(66, 66, 66, 0.5);  
    color: white;  
    border: none;  
    border-radius: 100%;  
    padding: 3px 10px;  
    cursor: pointer;  
}  

.slide__prev {  
    margin-left: 10px;
}  

.slide__prev::after {
    content: "<";
}


.slide__next::after {
    content: ">";
}