@import "bootstrap/scss/functions";
@import "../../../styles/_variables.scss";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

#home {
    --main-section-width: 62rem;
    --main-section-greater-width: 80rem;
}


.main-section {
    width: var(--main-section-width);
}

.main-section--greater {
    width: var(--main-section-greater-width);
}